:root {
	--font-body: 'Gontserrat', sans-serif;
	--font-mono: monospace;
	--straftat-green: #46ff4f;
	--incorrect: red;
	--almost-correct: yellow;
	--correct: green;
	--black: black;
	--color-text: darkgray;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

@font-face {
	font-family: 'Gontserrat';
	font-style: italic;
	src: url('/fonts/Gontserrat-MediumItalic.ttf');
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--black);
}

h1,
h2,
p {
	font-weight: 500;
}

h2 {
	color: white;
}

p {
	line-height: 1.5;
}

a {
	color: var(--straftat-green);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: var(--straftat-green);
}

h2 {
	text-align: center;
	font-size: larger;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

button {
	font-size: inherit;
	font-family: inherit;
	background-color: var(--straftat-green);
	border-radius: 45%;
	border-color: var(--straftat-green);
	margin: 1rem 1rem;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

hr {
	width: 90%;
	border-color: #46ff4f;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
